.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Maior espaçamento entre os campos */
  }

  .p-field {
    margin-bottom: 1.5rem;
  }

  .dropdown-custom {
    width: 100%;
  }

  .dropdown-custom .p-dropdown {
    width: 100% !important; /* Garante que o dropdown ocupe toda a largura */
    border: none !important; /* Remove a borda do contêiner externo */
    padding: 0 !important; /* Remove espaçamento extra */
  }

  .dropdown-custom .p-dropdown-label {
    padding: 0.75rem 1rem; /* Ajusta o padding interno do combobox */
    border: 1px solid #b2ebf2 !important; /* Mantém a borda dentro do campo */
    border-radius: 8px; /* Ajusta as bordas */
    background-color: #ffffff;
  }