<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <h2 class="p-text-center">Gerenciamento de Pessoas</h2>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton label="Nova Pessoa" icon="pi pi-plus" class="p-button-success p-mb-3" (click)="novaPessoa()"></button>
                  </div>
              </ng-template>
          </p-toolbar>
          <p-table [value]="pessoas" [paginator]="true" [rows]="5" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data Nascimento</th>
                <th>Naturalidade</th>
                <th>Nacionalidade</th>
                <th>Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
              <tr>
                <td>{{ person.nome }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{person.cidadeNascimento?.nome}} </td>
                <td>{{person.paisNascimento?.nome}}</td>
                <td>
                  <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" (click)="editarPessoa(person)"></button>
                  <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletarPessoa(person)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
      </div>
  </div>
</div>

<p-dialog header="Cadastro de Pessoa" [(visible)]="displayDialog" [modal]="true" [style]="{width: '40vw', borderRadius: '12px', background: '#E3F2FD', padding: '2rem'}">
  <div class="p-fluid dialog-content">
    <div class="p-field">
      <label for="name">Nome</label>
      <input id="name" type="text" pInputText [(ngModel)]="pessoa.nome" class="p-inputtext p-component" />
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="pessoa.email" class="p-inputtext p-component" />
    </div>
    <div class="p-field">
      <label for="age">Data Nascimento</label>
      <input id="age" type="date" pInputText [(ngModel)]="pessoa.dataNascimento" class="p-inputtext p-component" />
    </div>
    <div class="p-field">
      <label for="cpf">CPF</label>
      <input id="cpf" type="text" pInputText [(ngModel)]="pessoa.cpf" class="p-inputtext p-component" />
    </div>
    <div class="p-field">
       <label for="cidade">Naturalidade</label>
        <p-dropdown id="cidade" [options]="cidades" [(ngModel)]="pessoa.cidadeNascimento" placeholder="Selecione uma cidade" class="p-dropdown w-full dropdown-custom"></p-dropdown>
    </div>
    <div class="p-field">
       <label for="pais">Nacionalidade</label>
        <p-dropdown id="pais" [options]="paises" [(ngModel)]="pessoa.paisNascimento" placeholder="Selecione um país" class="p-dropdown w-full dropdown-custom"></p-dropdown>
    </div>
  </div>
  <p-footer class="flex justify-content-end gap-4">
    <button pButton label="Salvar" icon="pi pi-check" class="p-button-primary p-button-lg"></button>
    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary p-button-lg" (click)="displayDialog=false"></button>
  </p-footer>
</p-dialog>